/* Configurações padrão do site */
* {
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.hide {
    display: none !important;
}

/* Estilo do background do site*/
#backgroundVideo{
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(10%,5%);
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}
#glassEffect{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    background-color: rgba(35, 35, 35, 0.633);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

/* Estilo da navbar */
#navBar {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.853);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#navBar p {
    font-size: 1.1rem;
}
#navBar svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: ease-in-out 0.3s;
}
#navBar svg:hover {
    filter: drop-shadow(0 0 10px #fff);
}
.ghIcon, .lnIcon, .mlIcon, .igIcon, .ytIcon {
    fill: #898989;
}
.ghIcon:hover {
    fill: #ffffff;
}
.lnIcon:hover {
    fill: #00ffd5;
}
.mlIcon:hover {
    fill: #ff3030;
}
.igIcon:hover {
    fill: #ff00ae;
}
.ytIcon:hover {
    fill: #ff0000;
}
#navBar button svg {
    fill: #9b9b9b;
}
#navBar button svg:hover {
    fill: #ffffff;
}

/* Estilo para todas as sessões*/
section {
    margin: 5%;
    color: #fff;
}
section h2 {
    font-size: 1.9rem;
    color: #ff9500;
    font-weight: bolder;
    text-shadow: #fccd4c 1px 1px 20px;
}

/* Estilo da sessão introdutória*/
#myPhoto {
    background: url("../Midias/MyPhoto_ColorBlindMode.png") no-repeat;
    background-size: cover;
    width: 15rem;
    height: 15rem;
}
#introduction h1 {
    color: #ff9500;
    text-shadow: #ffdf86 1px 1px 20px;
    font-weight: bolder;
    font-size: 2rem;
}
#introduction p {
    color: #fff;
    text-shadow: #ffffff 1px 1px 20px;
    font-size: 1.5rem;
}
#introduction span {
    color: #ff9500;
    font-weight: bolder;
    text-shadow: #fccd4c 1px 1px 20px;
}

/* Estilo da sessão sobre mim */
#aboutMe p{
    font-size: 1.2rem;
}

/* Estilo da sessão com as minhas habilidades */
#techDescriptionContainer {
    background-color: #ffffff;
    border-radius: 9px;
    grid-template-columns: repeat(5, 1fr);
    border: #ff9500 5px double;
}
.techIcon {
    width: 3rem;
    margin: 0 auto;
    filter: saturate(2);
    width: 50%;
    border-radius: 10px;
}

/* Estilo da sessão dos meus projetos*/
#projects button {
    background-color: #ff9500;
    border: #ff9500 2px solid;
    font-weight: bolder;
    transition: all 0.2s;
}
#projects button:hover {
    background: none;
    color: #ff9500;
}
#filterDescription {
    font-size: 1.2rem;
}

/* Estilo dos cards dos projetos */
.card {
    color: #fff;
    background-color: #00000086;
    border: #ff9500 5px double;
}
.card svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}
.card h5 {
    color: #ff9500;
}
.card-text {
    font-size: 1.1rem;
}
.github-link {
    border: #754600 3px solid;
    background-color: #754600;
    color: #fff;
    font-weight: bolder;
    transition: all 0.2s;
}
.github-link:hover {
    background: none;
    color: #ff9900;
    border: #ff9900 3px solid;
}
.site-link {
    border: #b78600 3px solid;
    background-color: #b78600;
    color: #fff;
    font-weight: bolder;
    transition: all 0.2s;
}
.site-link:hover {
    color: #ffbb00;
    border: #ffbb00 3px solid;
    background: none;
}
.usedTech{
    font-size: 0.8rem;
    color: #000;
    background-color: #ff9500;
    padding: 1% 2%;
    border-radius: 5px;
}

/* Estilo do rodapé*/
footer {
    font-size: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.853);
}

@media(max-width: 768px){
    /* Responsividade do vídeo de fundo */
    #backgroundVideo{
        transform: scale(1.8);
        transform: translate(40%, 20%);
    }
    /* Responsividade das sessões e títulos de sessões */
    section {
        margin: 15% auto;
    }
    section h2 {
        font-size: 1.4rem;
    }
    /* Responsividade da navbar */
    #navBar p {
        font-size: 0.9rem;
    }
    #navBar svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .ghIcon {
        fill: #ffffff;
    }
    .lnIcon {
        fill: #00ffd5;
    }
    .mlIcon {
        fill: #ff3030;
    }
    .igIcon {
        fill: #ff00ae;
    }
    .ytIcon {
        fill: #ff0000;
    }
    /* Responsividade da sessão introdutória*/
    #myPhoto {
        width: 10rem;
        height: 10rem;
    }
    #introduction h1 { 
        font-size: 1.6rem;
    }
    #introduction p { 
        font-size: 1.2rem;
    }

    /* Responsividade da sessão sobre mim */
    #aboutMe p{
        font-size: 0.9rem;
        margin-bottom: 5%;
    }
    /* Responsividade da sessão de habilidades*/
    .techIcon {
        width: 1.8rem;
    }
    /* Responsividade da sessão de projetos */
    #filterDescription {
        font-size: 1rem;
    }
    .card p:not(.usedTech) {
        font-size: 0.9rem;
    }
    .card svg {
        width: 1.3rem;
        height: 1.3rem;
    }
    .github-link, .site-link {
        font-size: 1rem;
    }
    .usedTech{
        font-size: 0.7rem;
    }
    /* Responsividade do rodapé*/
    footer {
        font-size: 0.8rem;
    }
}