/*Mini reset de formatações*/
*{
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*Variáveis para cor/img*/
.defaultMode:root{
    /*Cores de texto*/
    --fill-logo-color: #fff;
    --title-color: #00f891;
    --simpletext-color: #fff;
    --link-color: #00f891;
    --link-hover-color: #fff;
    --text-dropdown-color: #000;
    /*Cores e imagem de fundo*/
    --bg-dropdown-color: #00201f;
    --bg-dropdown-hover-color: #fff;
    --bg-scrollbar-color: #001a19;
    --bg-scrollbar-thumb-color: #002f2d;
    --bg-gradient: linear-gradient(to right,#0d0d0d,#00201f,#01403e);
    --my-photo: url("../Midias/MyPhoto_DarkMode.png");
    /*Cores dos botões*/
    --bg-cards: #000;
    --bg-button: #005f5c;
    --bg-button-hover: #0080ff;
    --text-button: #fff;
    --nav-itens-hover: #3e80fb;
    /*Decorações*/
    --neon-title: #ffffff 1px 1px 20px;
    --text-underline: none;
    /*Cores do alerta de projeto em andamento*/
    --bg-work-in-progress-color: #f00;
    --text-work-in-progress-color: #fff;
}
.lightMode:root{
    /*Cores de texto*/
    --fill-logo-color: #0068d0;
    --title-color: #0080ff;
    --simpletext-color: #01403e;
    --link-color: #00f891;
    --link-hover-color: #004e2d;
    --text-dropdown-color: #000;
    /*Cores e imagem de fundo*/
    --bg-dropdown-color: #010020;
    --bg-dropdown-hover-color: #fff;
    --bg-scrollbar-color: #010020;
    --bg-scrollbar-thumb-color: #03004e;
    --bg-gradient: linear-gradient(to right,#bbb,#e6e6e6,#fff);
    --my-photo: url("../Midias/MyPhoto_LightMode.png");
    /*Cores dos botões*/
    --bg-cards: #fff;
    --bg-button: #005f5c;
    --bg-button-hover: #0080ff;
    --text-button: #fff;
    --nav-itens-hover: #00f891;
    /*Decorações*/
    --neon-title: #00446c 1px 1px 5px;
    --text-underline: none;
    /*Cores do alerta de projeto em andamento*/
    --bg-work-in-progress-color: #dc0101;
    --text-work-in-progress-color: #fff;
}
.colorBlindMode:root{
    /*Cores de texto*/
    --fill-logo-color: #000;
    --title-color: #000;
    --simpletext-color: #000;
    --link-color: #0000fb;
    --link-hover-color: #040082;
    --text-dropdown-color: #000;
    /*Cores e imagem de fundo*/
    --bg-dropdown-color: #bbb;
    --bg-dropdown-hover-color: #fff;
    --bg-scrollbar-color: #010020;
    --bg-scrollbar-thumb-color: #03004e;
    --bg-gradient: linear-gradient(to right,#fff, #fff);
    --my-photo: url("../Midias/MyPhoto_ColorBlindMode.png");
    /*Cores dos botões*/
    --bg-cards: #fff;
    --bg-button: #002d2b;
    --bg-button-hover: #000;
    --text-button: #fff;
    --nav-itens-hover: #00f891;
    /*Decorações*/
    --neon-title: none;
    --text-underline: underline;
    /*Cores do alerta de projeto em andamento*/
    --bg-work-in-progress-color: #000;
    --text-work-in-progress-color: #fff;
}

/*Configurações do site*/
body{
    background-image: var(--bg-gradient);
    color: var(--simpletext-color);
    letter-spacing: 0.10rem;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--bg-scrollbar-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--bg-scrollbar-thumb-color);
}
/*Cabeçalho*/
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: var(--bg-gradient);
}
#navContent{
    display: flex;
    flex-flow: row nowrap;
    gap: 0 1%;
    margin: 0 2%;
    align-items: center;
    justify-content: center;
}
#navContent p{
    margin: 0;
    font-size: 1.4rem;
    color: var(--fill-logo-color);
    font-weight: bold;
}
#navContent svg{
    width: 4rem;
    height: 4rem;
    fill: var(--fill-logo-color)
}
#navContent svg:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px var(--nav-itens-hover));
}
#siteControls{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 2%;
}
#dropdownColorMode .dropdown-toggle{
    font-size: 3rem;
    color: var(--fill-logo-color);
    background: none;
    border: none;
}
#dropdownColorMode .dropdown-toggle::after{
    display: none;
}
#dropdownColorMode .dropdown-menu{
    background-color: var(--bg-dropdown-color);
}
#dropdownColorMode .dropdown-item, #dropdownColorMode .dropdown-item:visited{
    color: var(--title-color);
}
#dropdownColorMode .dropdown-item:hover{
    color: var(--text-dropdown-color);
    background-color: var(--bg-dropdown-hover-color);
}

/*Texto de boas vindas*/
#introduction{
    margin: 5rem 0 2% 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; 
}
#introduction article{
    width: 70%;
}
#introduction h1{
    color: var(--title-color);
    text-shadow: var(--neon-title);
    text-decoration: var(--text-underline);
    font-size: 2.3rem;
}
#introduction p{
    text-shadow: var(--neon-title);
    text-decoration: var(--text-underline);
    font-size: 1.6rem;
}
#myPhoto{
    float: left;
    background: var(--my-photo) no-repeat;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    margin-right: 1%;
}

/*Sobre mim*/
#aboutMe{
    margin: 2% 5%;
    text-align: left;
}
#aboutMe h2{
    text-align: center;
    color: var(--title-color);
    text-shadow: var(--neon-title);
    text-decoration: var(--text-underline);
    font-size: 2rem;
    margin: 0 0 2.5% 0;
}
#aboutMe p{
    margin: 0.7% 0;
    font-size: 1.2rem;
}
#aboutMe a, #aboutMe a:visited{
    color: var(--link-color);
    text-decoration: var(--text-underline);
}
#aboutMe a:hover{
    color: var(--link-hover-color);
    text-decoration: var(--text-underline);
    text-shadow: var(--neon-title);
}

/*Cards de projetos*/
#projects{
    margin: 4% 5%;
}
#projects h2{
    text-align: center;
    color: var(--title-color);
    text-shadow: var(--neon-title);
    text-decoration: var(--text-underline);
    font-size: 2rem;
    margin: 2.5% 0;
}
#projectsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.cardProject{
    margin: 2%;
    width: 35rem;
    height: fit-content;
    background-color: var(--bg-cards);
    align-items: center;
    border: var(--bg-button-hover) 5px double;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}
.cardProject img{
    width: 100%;
    margin-bottom: 1%;
}
.line{
    width: 90%;
    height: 2.5px;
    background-color: var(--bg-button-hover);
    margin: 2% auto;
    border-radius: 10px;
}
.cardProject h3{
    margin: 2% 0 3% 0;
    color: var(--title-color);
    text-shadow: var(--neon-title);
    text-decoration: var(--text-underline);
    font-size: 1.6rem;
}
.cardProject p :not(.platformContainer p){
    font-size: 1.3rem;
    margin-bottom: 5%;
}
.platformContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    height: 10%;
}
.platformContainer p{
    font-size: 1.2rem;
    margin: 0;
}
.platformContainer svg{
    width: 3rem;
    height: 3rem;
    fill: var(--fill-logo-color);
}
.buttonContainer{
    height: 9%;
    margin: 3% 0;
    gap: 5%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    text-align: center;
}
.cardProject a, .cardProject a:visited{
    color: var(--text-button);
    padding: 2% 10%;
    background-color: var(--bg-button);
    border-radius: 10px;
    text-decoration: none;
}
.cardProject a:hover{
    background-color: var(--bg-button-hover);
    text-shadow: var(--neon-title);
    text-decoration: var(--text-underline);
}
.workInProgress{
    color: var(--text-work-in-progress-color);
    background-color: var(--bg-work-in-progress-color);
    padding: 2% 10%;
    border-radius: 10px;
}

/*Rodapé*/
footer p{
    text-align: center;
    color: var(--title-color);
    text-shadow: var(--neon-title);
    font-size: 1.4rem;
    margin: 1.5% 0;
}

/*Responsividade*/
/*Tamanho para arrumar a navbar*/

@media (max-width:800px){
    #introduction h1{
        font-size: 2rem;
    }
    #myPhoto{
        width: 12rem;
        height: 12rem;
    }
}
@media (max-width: 735px){
    *{
        font-size: 0.9rem;
    }
    #myPhoto{
        width: 11rem;
        height: 11rem;
    }
    #introduction h1{
        font-size: 1.9rem;
    }
    #aboutMe h2{
        font-size: 1.8rem;
    }
    #projects h2{
        font-size: 1.8rem;
    }
    .cardProject{
        width: 30rem;
        height: 30rem;
    }
}
@media (max-width: 500px){
    *{
        font-size: 0.7rem;
    }
    #navContent{
        margin: 0 4%;
    }
    #introduction h1{
        font-size: 1.5rem;
    }
    #introduction p{
        font-size: 1.3rem;
    }
    #myPhoto{
        width: 9rem;
        height: 9rem;
    }
    #aboutMe p{
        margin: 2% 0;
        line-height: 1.5rem;
    }
    .cardProject p:not(.platformContainer>p){
        font-size: 1.1rem;
    }
    .cardProject a, .cardProject a:visited{
        font-size: 1.2rem;
    }
}